<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="CRMUser" value="admin@iotmlcrm.onmicrosoft.com" />
      <add key="CRMPwd" value="pass@word1"/>
      <add key="CRMUri" value="https://iotmlcrm.api.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
    </appSettings>
</configuration>